.open-btn,
.close-btn,
.cta-btn {
    all: unset;
    cursor: pointer;
}

.cta-btn {
    text-transform: uppercase;
    letter-spacing: .1em;
    border: .1em solid #fff;
    padding: .5em 1.5em;

    &:active,
    &:hover {
        background-color: #fff;
        color: hsl(256, 26%, 20%);
    }
}