.primary-menu {
    > .item > .link {
        display: inline-block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
    }

    @media only screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 1em;

        > .item > .link {
            display: inline-block;
            width: 100%;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
        }
    }
}